.footer{   
background: #000000;
border-top-left-radius: 42px;
border-top-right-radius: 42px;

}

.footer .header{
font-family: 'Mystery Quest';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 87px;

color: #FFFFFF;
}


.second_part p{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
}